<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter Your Info</title>
</head>
<body>
        <form action = '/quotes', method = 'post' name = 'form'>
            Your Name: <input type = "text", name = "name">
            <br>
            Your Quote: <textarea name = "quote"></textarea>
            <br>
            <input type = "submit" value = "Add my Quote!">
            
        </form>
            <button name = "skip"> <a href = "/quotes">Skip to Quotes</a>   </button>

</body>
</html>