<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create A New Wolf</title>
</head>
<body>
        <form action = '/wolves/new', method = 'post' name = 'form'>
            Wolf Name: <input type = "text", name = "name">
            <br>
            Wolf Color: <input type = "text", name = "color">
            <br>
            <input type = "submit" value = "Add my Wolf!">
        </form>
            <button name = "skip"> <a href = "/">Return Home</a>   </button>
</body>
</html>