<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter Your Info</title>
</head>
<body>
        <form action = '/results/', method = 'post' name = 'form'>
            Your Name: <input type = "text", name = "entered_name">
            Dojo Location: <select name = "dojo">
                <option value = "seattle">Seattle</option>
                <option value = "burbank">Burbank</option>
                <option value = "sanjose">San Jose</option>
            </select>
            Favorite Language: <select name ="language">
                <option value = "python">Python</option>
                <option value = "javascript">Javascript</option>
                <option value = "swift">Swift</option>
            </select>
            Comment (Optional): <textarea name = "comment"></textarea>
            <input type = "submit" value = "Go!">
        </form>

        

</body>
</html>