<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results!</title>
</head>
<body>
    <h3>Submitted information:</h3>
    <%%>
        <p>Name: <%= name %></p>
        <p>Dojo: <%= dojo %>   </p>
        <p>Favorite Language:   <%= language %> </p>
        <p>Comment: <%= comment %>  </p>
    <%%>

    <button><a href = "/">Go Back</a></button>

</body>
</html>